@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.side-bar
{
    margin: 0;
    padding: 0;
    top: 0;
    width: 290px;
    background: #1b1a1b;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.side-bar::-webkit-scrollbar 
{
    width: 0px;
}
header
{
    background: inherit;
}
img
{
    width:290px;
    background-color: white;
    height: fit-content;
}
.side-bar .menu
{
    width: 100%;
    margin-top: 30px;
}
.side-bar .menu .item
{
    position: relative;
    cursor: pointer;
    padding-top: 10px;
}
.side-bar .menu .item a
{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 55px;
}
.side-bar .menu .item a:hover
{
    background: #33363a;
    transition: 0.3s ease;
}
.side-bar .menu .item i
{
    margin-right: 15px;
}
.fa
{
    font-size: 25px;
}
.side-bar .menu .item a .dropdown
{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu
{
    background: #262627;
    display: none;
}
.side-bar .menu .item .sub-menu a
{
    padding-left: 50px;
}
.rotate
{
    transform: rotate(90deg);
}