.grid
{
    width: auto;
    height: auto;
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    background-color: inherit;
    padding: 5px;
    margin-top: 50px;
    margin-left: 20%;
}
.stat-box
{
    background-color: transparent;
    padding: 20px;
    text-align: center;
    flex-basis: 20%;
    text-align: center;
    color: #555;
}
.counter-box
{
    width: 100%;
    height: 100%;
    background: #12192c;
    padding: 20px 0;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 0 0 20px -4px #66676c;
    color:#fff;
}
.counter,.statistic
{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #fff;
}
.counter-box .fa,.counter-box .bi
{
    font-size: 40px;
    color: rgba(16, 211, 97, 0.603);
    display: block;
}
h4
{
    text-transform: uppercase;
}
@media screen and (max-width: 767px) /*Responsive grid for smartphones*/
{
    .grid
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 767px) and (max-width:1023px)/*Responsive grid for tablets*/
{
    .grid
    { 
        grid-template-columns: repeat(4, 1fr); 
    }
}
@media (min-width: 1024px)/*Responsive grid for desktops*/
{
    .grid
    { 
        grid-template-columns: repeat(4, 1fr); 
    }
}