body
{
    background-image: url(./Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}body
{
    background-image: url(./Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}